.header, .site-header {
    display: flex;
    justify-content: space-between;
}
.title {
    padding-left: 10px;
}
img {
    max-width: 100%;
}


@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
    .header {
        flex-direction: column;
    }
    .site-header {
        display: block;
    }
    img {
        min-width: 200px;
    }
    
}

.title p {
    font-style: italic;
}
