/* Normalize */
@import '../../node_modules/normalize.css/normalize';

/* Variables */
@import 'variables-dark';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Lato&family=Merriweather+Sans:wght@300;400&family=Montserrat&display=swap');

/* External modules */
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

/* Internal modules */
@import 'typography';
@import 'main';
@import 'header';
@import 'footer';
@import 'blockquotes';
@import 'code';
@import 'technologies';


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    background-color: $header-color;
}

* {
    color: $font-color;
    font-family: 'Lato', sans-serif;
}

img {
    filter: grayscale(50%);
}

