$font-color: black;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: lemonchiffon;;
$background-alternative-color: #e0fbfc;
$footer-text-color: darkgreen;
$footer-background-color: darkkhaki;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;