$font-color: black;
$font-alternative-color: #CFE8D2;
$font-h2-color: #108b40;
$font-h3-color: #29bb61;

$accent-color: #E8FFE3;
$background-color: white;
$background-alternative-color: #CFFFE9;

$header-color: #EFFFF6;
$footer-text-color: black;
$footer-background-color: #CFE8E1;

$border-color: #CFE8D2;
$nav-hover-color: hotpink;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;