$font-color: black;
$font-alternative-color: #CFE8D2;
$accent-color: #E8FFE3;
$background-color: #EFFFF6;
$background-alternative-color: #CFFFE9;
$footer-text-color: black;
$footer-background-color: #CFE8E1;
$border-color: #CFE8D2;
$header-color: #E8FFE3;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;