$font-color: #e98;
$font-alternative-color: #471309;
$font-h2-color: rgb(233, 112, 173);
$font-h3-color: rgb(136, 8, 72);

$accent-color: #ee6c4d;
$background-color: #043823;
$background-alternative-color: #e0fbfc;

$header-color: #471309;
$footer-text-color: #ee9988;
$footer-background-color:#471309;

$border-color: black;
$nav-hover-color: hotpink;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;