$font-color: #CF5942;
$font-alternative-color: #471309;
$accent-color: #ee6c4d;
$background-color: #043823;
$background-alternative-color: #e0fbfc;
$footer-text-color: #471309;
$footer-background-color: #2F7056;
$border-color: black;
$header-color: #471309;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;