{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology-container" role="main">
        {{ content }}

    </div>
    
    {% include 'incl/footer.twig' %}
</body>
